#activityTabs {
    padding-top: 1em;
    margin-top: 1em;
}
#buttonShowAddActivity {
    position: absolute;
    right: 1em;
    top: 10px;
}
.nav-tabs {
    padding-right: 75px;
}
.activity {
    margin: .5em;
}

#tMinusHours, #tMinusMinutes {
    width: 50px;
    display: inline-block;
    margin-left: 15px;
    margin-right: 5px;
}

.quick-t {
    display: flex;
    justify-content: space-evenly;
}